<!DOCTYPE html>
<html>
	<head>
		<title>QLBH Client</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
    <style>
        #map {
            width: 100%;
            height: 600px;
            background-color: grey;
        }
    </style>
	<body>

		<div class="container-fluid" id="container">
			<div id="login" v-if="loginVisible">
				<div class="form-group">
					<label>Tên đăng nhập:</label>
					<input type="text" class="form-control" v-model="userName">
				</div>
				<div class="form-group">
					<label >Mật khẩu:</label>
					<input type="text" class="form-control" v-model="password">
				</div>
				<button type="button" class="btn btn-success" @click="login">Đăng nhập</button>
			</div>
			<div v-if="requestsVisible">
				<div class="container sp">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Quản lý đơn hàng</h3>
						</div>
						<div class="panel-body">
							<span> </span>
							<div class="table-responsive">
								<table class="table" id="tableDH">
									<thead>
									<tr>
										<th><a>Mã đơn</a></th>
										<th><a>Tên khách hàng</a></th>
										<th><a>Số điện thoại</a></th>
										<th><a>Địa chỉ nhận</a></th>
										<th><a>Ghi chú</a></th>
										<th><a>Ngày đặt</a></th>
										<th><a>Trạng Thái</a></th>
                                        <th><a>Xác định vị trí</a></th>

									</tr>
									</thead>
									<tbody>
									<tr v-for="c in requests">
										<td>{{c.id_request}} </td>
										<td>{{c.name}}</td>
										<td>{{c.phone}} </td>
										<td>{{c.address}}</td>
										<td>{{c.note}} </td>
										<td>{{c.time}} </td>
										<td>Chưa xác nhận</td>
                                        <td><button class="btn btn-success" type="button">Định vị</button></td>
									</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>

						<button class="btn btn-success" type="button" @click="getAllRequest">Reload</button>


				</div>
			</div>
            <div id="Gmap">
                <div id="map"></div>
            </div>


		</div>

		<!--<script src="./js/jquery.min.js"></script>-->
		<!--<script src="./js/bootstrap.min.js"></script>-->
		<!--<script src="./js/jquery.dataTables.min.js"></script>-->
		<!--<script src="./js/dataTables.bootstrap.min.js"></script>-->
		<!--<script src="./js/adminlte.min.js"></script>-->
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>


		<!--<script id="vietnamese-template" type="text/x-handlebars-template">-->
			<!--<input type="text" class="form-control" value="{{vietnamese}}">-->
		<!--</script>-->
		<!--<script id="fail-template" type="text/x-handlebars-template">-->
			<!--<div style="color: red;">Không tìm thấy từ cần tra trong từ điển</div>-->

		<!--</script>-->

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
		<script src="index.app.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<script>
            $(document).ready(function() {
                $('#tableDH').DataTable();
            } );
            // $(function () {
            //     $('#tableDH').DataTable({
            //         'paging': true,
            //         'lengthChange': true,
            //         'searching': false,
            //         'ordering': true,
            //         'info': true,
            //         'autoWidth': true,
            //         'language': {
            //             "lengthMenu": "Hiển thị _MENU_ dòng",
            //             "info": "Đang hiển thị _START_ tới _END_ tổng số _TOTAL_ kết quả",
            //             "paginate": {
            //                 "first": "Trang đầu",
            //                 "last": "Trang cuối",
            //                 "next": "Tiếp",
            //                 "previous": "Trước"
            //             }
            //         }
            //     });
            // });
		</script>


        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPU6MzgMD9rQVYAY2esmU-_7DE3x7yJ0Y&callback=initMap">
        </script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

	</body>
</html>